<script type="text/javascript">
    RED.nodes.registerType('skeleton',{
        category: 'output',
        color: '#C0DEED',
        defaults: {
            name: {value:""},
        },
        inputs:1,
        outputs:1,
        icon: "bridge.png",
        label: function() {
            return this.name||"skeleton";
        }
    });
</script>

<script type="text/x-red" data-template-name="skeleton">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="skeleton">
    <p>skeleton node with docker-compose file for dev</p>
</script>
